<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

<div>
 
{{#each response}}

<img src="{{this.image}}" alt="movie-img">
<h4>{{this.title}}</h4>
<h4><a href="movie/:id/{{this.id}}">See more</a></h4>

{{/each}}
</div>